In [207]:
import pandas as pd

In [261]:
nodes=pd.read_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\nodes_2017_data.xlsx')

In [262]:
nodes.columns

Index(['income_donations', 'income_fees', 'income_zakat', 'income_investment',
       'income_other', 'income', 'outcome_services', 'outcome_donations',
       'outcome_genral', 'outcome_losses', 'outcome_other', 'outcome',
       'managers', 'employees', 'volunteers', 'name', 'region', 'gender',
       'audience_segments', 'seg2', 'seg3', 'seg4', 'seg5', 'seg6', 'seg7',
       'seg8', 'seg9', 'seg10', 'seg11', 'audience_age', 'a2', 'a3', 'a4',
       'a5'],
      dtype='object')

In [263]:
#melt seg
nodes=pd.melt(nodes, id_vars=['income_donations', 'income_fees', 'income_zakat', 'income_investment',
       'income_other', 'income', 'outcome_services', 'outcome_donations',
       'outcome_genral', 'outcome_losses', 'outcome_other', 'outcome',
       'managers', 'employees', 'volunteers', 'name', 'region', 'gender',
        'audience_age', 'a2', 'a3', 'a4',
       'a5'],
        value_vars=['audience_segments', 'seg2', 'seg3', 'seg4', 'seg5', 'seg6', 'seg7',
       'seg8', 'seg9', 'seg10', 'seg11'],
        var_name='seg_columns', value_name='segments')

In [264]:
nodes

,income_donations,income_fees,income_zakat,income_investment,income_other,income,outcome_services,outcome_donations,outcome_genral,outcome_losses,...,name,region,gender,audience_age,a2,a3,a4,a5,seg_columns,segments
0,384862,5600,248372,0,713000,1351834,6000,1430932,316718,0,...,جمعية البر الخيرية بمحافظة العقيق,منطقة الباحــة,ذكور وإناث,أقل من 7 سنوات,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,audience_segments,محدودي الدخل
1,1623536,0,166591,30,2700,1792857,0,1701253,1171902,128917,...,الجمعية الخيرية بمحافظة أحد المسارحة,منطقة جــازان,ذكور وإناث,أقل من 7 سنوات,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,audience_segments,العاطلين عن العمل
2,1779229,0,224776,62481,0,2066486,0,1740323,495578,21078,...,جمعية الريان الخيرية بوادي جازان,منطقة جــازان,ذكور وإناث,من 36 - 60 سنة,أكثر من 60 سنة,NaN,NaN,NaN,audience_segments,ذوي الإعاقة
3,906081,3300,663937,0,2470351,4043669,189584,1304349,1397248,0,...,جمعية البر الخيرية بمحافظة دومة الجندل,منطقة الجـــوف,ذكور وإناث,أقل من 7 سنوات,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,audience_segments,محدودي الدخل
4,930102,8700,497055,17457,5728489,7181803,0,3529699,1558316,53165,...,جمعية البر الخيرية بطبرجل,منطقة الجـــوف,ذكور وإناث,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,NaN,audience_segments,محدودي الدخل
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3790,177929,60500,2356257,168121,8842473,11605280,7356498,1163865,2925676,0,...,الجمعية الخيرية النسائية الأولى بجدة,منطقة مكة المكرمـة,ذكور وإناث,أقل من 7 سنوات,من 7 - 18 سنة,NaN,NaN,NaN,seg11,NaN
3791,4538338,507500,8573867,63580,18060804,31744089,318730,10468950,4904116,0,...,جمعية النهضة النسائية الخيرية بالرياض,منطقة الريـــاض,ذكور وإناث,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,NaN,seg11,NaN
3792,0,0,0,0,0,0,0,88961,55300,0,...,جمعية البر الخيرية بمركز الثمد,منطقة المدينة المنورة,ذكور وإناث,أقل من 7 سنوات,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,seg11,NaN
3793,332484,22000,229100,0,3524857,4108441,1035548,973936,1120932,0,...,جمعية اليقظة النسائية الخيرية بالطائف,منطقة مكة المكرمـة,إناث,أقل من 7 سنوات,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,seg11,NaN
3794,4700,0,145811,0,0,150511,199912,804653,98279,0,...,جمعية البر الخيرية بالخشيبي,منطقة القصيـــم,ذكور وإناث,أقل من 7 سنوات,من 7 - 18 سنة,من 19 - 35 سنة,من 36 - 60 سنة,أكثر من 60 سنة,seg11,كبار السن (المسنين)

In [265]:
#melt age
nodes=pd.melt(nodes, id_vars=['income_donations', 'income_fees', 'income_zakat', 'income_investment',
       'income_other', 'income', 'outcome_services', 'outcome_donations',
       'outcome_genral', 'outcome_losses', 'outcome_other', 'outcome',
       'managers', 'employees', 'volunteers', 'name', 'region', 'gender',
       'segments'],
        value_vars=['audience_age', 'a2', 'a3', 'a4',
       'a5'],
        var_name='age_columns', value_name='age')

In [266]:
nodes

,income_donations,income_fees,income_zakat,income_investment,income_other,income,outcome_services,outcome_donations,outcome_genral,outcome_losses,...,outcome,managers,employees,volunteers,name,region,gender,segments,age_columns,age
0,384862,5600,248372,0,713000,1351834,6000,1430932,316718,0,...,1785958,7,7,0,جمعية البر الخيرية بمحافظة العقيق,منطقة الباحــة,ذكور وإناث,محدودي الدخل,audience_age,أقل من 7 سنوات
1,1623536,0,166591,30,2700,1792857,0,1701253,1171902,128917,...,3002072,10,13,103,الجمعية الخيرية بمحافظة أحد المسارحة,منطقة جــازان,ذكور وإناث,العاطلين عن العمل,audience_age,أقل من 7 سنوات
2,1779229,0,224776,62481,0,2066486,0,1740323,495578,21078,...,2256979,11,10,100,جمعية الريان الخيرية بوادي جازان,منطقة جــازان,ذكور وإناث,ذوي الإعاقة,audience_age,من 36 - 60 سنة
3,906081,3300,663937,0,2470351,4043669,189584,1304349,1397248,0,...,4595905,19,12,0,جمعية البر الخيرية بمحافظة دومة الجندل,منطقة الجـــوف,ذكور وإناث,محدودي الدخل,audience_age,أقل من 7 سنوات
4,930102,8700,497055,17457,5728489,7181803,0,3529699,1558316,53165,...,5607874,7,13,31,جمعية البر الخيرية بطبرجل,منطقة الجـــوف,ذكور وإناث,محدودي الدخل,audience_age,من 7 - 18 سنة
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18970,177929,60500,2356257,168121,8842473,11605280,7356498,1163865,2925676,0,...,14062475,13,62,89,الجمعية الخيرية النسائية الأولى بجدة,منطقة مكة المكرمـة,ذكور وإناث,NaN,a5,NaN
18971,4538338,507500,8573867,63580,18060804,31744089,318730,10468950,4904116,0,...,29748662,13,82,372,جمعية النهضة النسائية الخيرية بالرياض,منطقة الريـــاض,ذكور وإناث,NaN,a5,NaN
18972,0,0,0,0,0,0,0,88961,55300,0,...,144261,9,1,0,جمعية البر الخيرية بمركز الثمد,منطقة المدينة المنورة,ذكور وإناث,NaN,a5,أكثر من 60 سنة
18973,332484,22000,229100,0,3524857,4108441,1035548,973936,1120932,0,...,3136471,9,44,143,جمعية اليقظة النسائية الخيرية بالطائف,منطقة مكة المكرمـة,إناث,NaN,a5,أكثر من 60 سنة
18974,4700,0,145811,0,0,150511,199912,804653,98279,0,...,1102844,9,1,5,جمعية البر الخيرية بالخشيبي,منطقة القصيـــم,ذكور وإناث,كبار السن (المسنين),a5,أكثر من 60 سنة

In [267]:
nodes.dropna(inplace=True)

In [268]:
nodes=nodes[['income_donations', 'income_fees', 'income_zakat', 'income_investment',
       'income_other', 'income', 'outcome_services', 'outcome_donations',
       'outcome_genral', 'outcome_losses', 'outcome_other', 'outcome',
       'managers', 'employees', 'volunteers', 'name', 'region', 'gender',
       'segments','age']]

In [269]:
#Categories of need
Categories=set(nodes['segments'].tolist())
Categories

{' أصحاب الجنح والمساجين',
 ' الأرامل والمطلقات',
 ' الأيتام',
 ' الفقراء والمساكين',
 ' المتزوجون',
 ' المرضى',
 ' المقبلون على الزواج',
 ' ذوي الإعاقة',
 ' كبار السن (المسنين)',
 ' محدودي الدخل',
 'الأرامل والمطلقات',
 'الأيتام',
 'العاطلين عن العمل',
 'الفقراء والمساكين',
 'المتزوجون',
 'المرضى',
 'المقبلون على الزواج',
 'ذوي الإعاقة',
 'كبار السن (المسنين)',
 'محدودي الدخل'}

In [270]:
#age of needs
set(nodes['age'].tolist())

{' أكثر من 60 سنة',
 ' من 19 - 35 سنة',
 ' من 36 - 60 سنة',
 ' من 7 - 18 سنة',
 'أقل من 7 سنوات',
 'أكثر من 60 سنة',
 'من 19 - 35 سنة',
 'من 36 - 60 سنة',
 'من 7 - 18 سنة'}

In [271]:
#remove leading and tailing white space
nodes = nodes.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [272]:
#age of needs
set(nodes['age'].tolist())

{'أقل من 7 سنوات',
 'أكثر من 60 سنة',
 'من 19 - 35 سنة',
 'من 36 - 60 سنة',
 'من 7 - 18 سنة'}

In [273]:
#age of needs
set(nodes['segments'].tolist())

{'أصحاب الجنح والمساجين',
 'الأرامل والمطلقات',
 'الأيتام',
 'العاطلين عن العمل',
 'الفقراء والمساكين',
 'المتزوجون',
 'المرضى',
 'المقبلون على الزواج',
 'ذوي الإعاقة',
 'كبار السن (المسنين)',
 'محدودي الدخل'}

In [469]:
#assements=nodes[(nodes['region']=='المنطقة الشرقيـــة') &  (nodes['balance']>0)]
assements=nodes[(nodes['balance']>0)]
assements

,income,outcome,balance,employees,volunteers,name,region,age,gender,segments
201,9372581,8522602,849979,13,60,جمعية رعاية الايتام الخيرية بعرعر,منطقة الحدود الشمالية,أقل من 7 سنوات,ذكور وإناث,الأيتام
230,61149394,21852477,39296917,77,49,جمعية صوت متلازمة داون,منطقة الريـــاض,أقل من 7 سنوات,ذكور وإناث,ذوي الإعاقة
236,7191686,5940617,1251069,14,28,الجمعية الخيرية لرعاية الأيتام في محافظة رفحاء...,منطقة الحدود الشمالية,أقل من 7 سنوات,ذكور وإناث,الأيتام
251,10394545,9297899,1096646,8,80,الجمعية الخيرية لرعاية الأيتام بمحافظة بيشة,منطقة عسيــر,من 7 - 18 سنة,ذكور وإناث,الأيتام
273,8853116,8776299,76817,23,137,الجمعية الخيرية لرعاية الايتام بمنطقة الباحة,منطقة الباحــة,أقل من 7 سنوات,ذكور وإناث,الأيتام
...,...,...,...,...,...,...,...,...,...,...
17530,488650,402822,85828,1,0,جمعية البر الخيرية بمركز الحازمي,منطقة عسيــر,أكثر من 60 سنة,ذكور وإناث,الأيتام
17536,389173,199825,189348,4,0,جمعية البر الخيرية بمركز صمخ,منطقة عسيــر,أكثر من 60 سنة,ذكور وإناث,الأيتام
17554,534011,273186,260825,1,0,جمعية البر والخدمات الاجتماعية بمركز العطف,منطقة عسيــر,أكثر من 60 سنة,ذكور وإناث,الأيتام
17561,7401387,4811645,2589742,1,170,جمعية خيرات لحفظ النعمة,منطقة الريـــاض,أكثر من 60 سنة,ذكور وإناث,الأيتام
17572,1594091,1401637,192454,1,0,جمعية البر الخيرية بأحد ثربان,منطقة عسيــر,أكثر من 60 سنة,ذكور وإناث,الأيتام

In [274]:
nodes=nodes[(nodes['segments']=='ذوي الإعاقة') | (nodes['segments']=='الأيتام')]

In [275]:
nodes

,income_donations,income_fees,income_zakat,income_investment,income_other,income,outcome_services,outcome_donations,outcome_genral,outcome_losses,outcome_other,outcome,managers,employees,volunteers,name,region,gender,segments,age
2,1779229,0,224776,62481,0,2066486,0,1740323,495578,21078,0,2256979,11,10,100,جمعية الريان الخيرية بوادي جازان,منطقة جــازان,ذكور وإناث,ذوي الإعاقة,من 36 - 60 سنة
6,9200,0,209400,0,0,218600,91050,594106,197633,0,0,882789,6,4,0,جمعية البر الخيرية بالعظيم,منطقة حائــــل,ذكور وإناث,ذوي الإعاقة,من 7 - 18 سنة
41,0,0,151500,0,0,151500,116500,441626,493479,0,0,1051605,8,12,0,جمعية البر الخيرية بمركز فيضة اثقب,منطقة حائــــل,ذكور وإناث,ذوي الإعاقة,من 19 - 35 سنة
66,0,0,254060,0,36533,290593,168791,541950,369129,0,0,1079870,8,5,0,جمعية البر الخيرية بالحليفة العليا,منطقة حائــــل,ذكور وإناث,ذوي الإعاقة,أقل من 7 سنوات
87,6750,0,110000,609689,6815,733254,446381,914728,1075438,0,528815,2965362,13,17,0,جمعية العوق البصري الخيرية ببريدة,منطقة القصيـــم,ذكور وإناث,ذوي الإعاقة,أقل من 7 سنوات
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17561,6360567,89400,0,531196,420224,7401387,422196,2538818,1704380,0,146251,4811645,7,1,170,جمعية خيرات لحفظ النعمة,منطقة الريـــاض,ذكور وإناث,الأيتام,أكثر من 60 سنة
17568,9600,0,0,0,0,9600,0,6998,41045,0,0,48043,0,0,0,جمعية البر الخيرية بمركز الظلفة,منطقة تبـــوك,ذكور وإناث,الأيتام,أكثر من 60 سنة
17572,151952,2000,994100,0,446039,1594091,0,1265419,135220,0,998,1401637,11,1,0,جمعية البر الخيرية بأحد ثربان,منطقة عسيــر,ذكور وإناث,الأيتام,أكثر من 60 سنة
17581,0,0,7300,0,0,7300,30320,221900,69986,0,0,322206,9,1,9,جمعية البر الخيرية بالحيسونية,منطقة القصيـــم,ذكور وإناث,الأيتام,أكثر من 60 سنة
17594,4700,0,145811,0,0,150511,199912,804653,98279,0,0,1102844,9,1,5,جمعية البر الخيرية بالخشيبي,منطقة القصيـــم,ذكور وإناث,الأيتام,أكثر من 60 سنة

In [277]:
nodes['balance']=nodes['income']-nodes['outcome']
nodes=nodes[['income','outcome','balance','employees','volunteers', 'name', 'region', 'age',
       'gender', 'segments']]

<ipython-input-277-307b6752f2eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nodes['balance']=nodes['income']-nodes['outcome']

In [278]:
datastore_dataset=nodes.groupby(['name','region','segments','age','gender']).sum().reset_index()
datastore_dataset

,name,region,segments,age,gender,income,outcome,balance,employees,volunteers
0,الجمعية الخيرية السعودية لتنشيط التبرع بالاعضا...,المنطقة الشرقيـــة,الأيتام,أقل من 7 سنوات,ذكور وإناث,6000,1590170,-1584170,4,400
1,الجمعية الخيرية السعودية لتنشيط التبرع بالاعضا...,المنطقة الشرقيـــة,الأيتام,أكثر من 60 سنة,ذكور وإناث,6000,1590170,-1584170,4,400
2,الجمعية الخيرية السعودية لتنشيط التبرع بالاعضا...,المنطقة الشرقيـــة,الأيتام,من 19 - 35 سنة,ذكور وإناث,6000,1590170,-1584170,4,400
3,الجمعية الخيرية السعودية لتنشيط التبرع بالاعضا...,المنطقة الشرقيـــة,الأيتام,من 36 - 60 سنة,ذكور وإناث,6000,1590170,-1584170,4,400
4,الجمعية الخيرية السعودية لتنشيط التبرع بالاعضا...,المنطقة الشرقيـــة,الأيتام,من 7 - 18 سنة,ذكور وإناث,6000,1590170,-1584170,4,400
...,...,...,...,...,...,...,...,...,...,...
2068,جمعية ود الخيرية للتكافل والتنمية الأسرية,المنطقة الشرقيـــة,ذوي الإعاقة,من 36 - 60 سنة,إناث,3344004,4997220,-1653216,124,88
2069,جمعية ود الخيرية للتكافل والتنمية الأسرية,المنطقة الشرقيـــة,ذوي الإعاقة,من 7 - 18 سنة,إناث,3344004,4997220,-1653216,124,88
2070,جمعيه البر الخيرية بمركز غميقة,منطقة مكة المكرمـة,الأيتام,أكثر من 60 سنة,ذكور وإناث,3269221,3979205,-709984,7,0
2071,جمعيه البر الخيرية بمركز غميقة,منطقة مكة المكرمـة,الأيتام,من 19 - 35 سنة,ذكور وإناث,3269221,3979205,-709984,7,0
2072,حمعبة البر الخيرية بشمال مكة المكرمة,منطقة مكة المكرمـة,الأيتام,من 36 - 60 سنة,ذكور وإناث,3166650,2863459,303191,1,0

In [279]:
#datastore dataset
datastore_dataset=datastore_dataset[['name', 'region', 'age','gender', 'segments','balance']]

In [280]:
datastore_dataset.to_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\datastore_dataset3.xlsx', index = False)

In [281]:
#orphans=pd.read_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\orphans.xlsx')

In [282]:
#set(orphans['نوع الخدمه'])

In [283]:
#orphans=orphans[(orphans['نوع الخدمه']=='يتيم / أيتام')]
#orphans

In [408]:
#count num of instit
count_i=nodes[(nodes['segments']=='ذوي الإعاقة')]
count_i=count_i[(count_i['name'] != 'الجمعية الخيرية لرعاية ذوي الإعاقة (شموخ) بالمذنب')].reset_index()
count_i=count_i.groupby(['region']).agg({'name':'count'}).reset_index()
count_i

                   region  name
0      المنطقة الشرقيـــة    42
1          منطقة الباحــة    37
2          منطقة الجـــوف    28
3   منطقة الحدود الشمالية    17
4         منطقة الريـــاض   106
5         منطقة القصيـــم    80
6   منطقة المدينة المنورة    86
7           منطقة تبـــوك    75
8           منطقة جــازان    27
9          منطقة حائــــل    89
10           منطقة عسيــر   165
11     منطقة مكة المكرمـة   198
12         منطقة نجـــران     5

In [374]:
#scrapped dataset for instit
scrapped_data=nodes[(nodes['segments']=='ذوي الإعاقة')]
scrapped_data=scrapped_data[(scrapped_data['name'] != 'الجمعية الخيرية لرعاية ذوي الإعاقة (شموخ) بالمذنب')].reset_index()
scrapped_data

,index,income,outcome,balance,employees,volunteers,name,region,age,gender,segments
0,2,2066486,2256979,-190493,10,100,جمعية الريان الخيرية بوادي جازان,منطقة جــازان,من 36 - 60 سنة,ذكور وإناث,ذوي الإعاقة
1,6,218600,882789,-664189,4,0,جمعية البر الخيرية بالعظيم,منطقة حائــــل,من 7 - 18 سنة,ذكور وإناث,ذوي الإعاقة
2,41,151500,1051605,-900105,12,0,جمعية البر الخيرية بمركز فيضة اثقب,منطقة حائــــل,من 19 - 35 سنة,ذكور وإناث,ذوي الإعاقة
3,66,290593,1079870,-789277,5,0,جمعية البر الخيرية بالحليفة العليا,منطقة حائــــل,أقل من 7 سنوات,ذكور وإناث,ذوي الإعاقة
4,87,733254,2965362,-2232108,17,0,جمعية العوق البصري الخيرية ببريدة,منطقة القصيـــم,أقل من 7 سنوات,ذكور وإناث,ذوي الإعاقة
...,...,...,...,...,...,...,...,...,...,...,...
950,16188,9600,48043,-38443,0,0,جمعية البر الخيرية بمركز الظلفة,منطقة تبـــوك,أكثر من 60 سنة,ذكور وإناث,ذوي الإعاقة
951,16192,1594091,1401637,192454,1,0,جمعية البر الخيرية بأحد ثربان,منطقة عسيــر,أكثر من 60 سنة,ذكور وإناث,ذوي الإعاقة
952,16201,7300,322206,-314906,1,9,جمعية البر الخيرية بالحيسونية,منطقة القصيـــم,أكثر من 60 سنة,ذكور وإناث,ذوي الإعاقة
953,16212,0,144261,-144261,1,0,جمعية البر الخيرية بمركز الثمد,منطقة المدينة المنورة,أكثر من 60 سنة,ذكور وإناث,ذوي الإعاقة
954,16214,150511,1102844,-952333,1,5,جمعية البر الخيرية بالخشيبي,منطقة القصيـــم,أكثر من 60 سنة,ذكور وإناث,ذوي الإعاقة

In [376]:
count_age=scrapped_data.groupby(['region','age']).agg({'name':'count'}).reset_index()

In [377]:
scrapped_data=pd.merge(scrapped_data.groupby(['region']).sum().reset_index(),count_age,on=['region'])
scrapped_data['count_age']=scrapped_data['name']
scrapped_data=scrapped_data[['region','index','income','outcome','balance','employees','volunteers','age','count_age']]
scrapped_data

,region,index,income,outcome,balance,employees,volunteers,age,count_age
0,المنطقة الشرقيـــة,317868,78572809,165554795,-86981986,1236,3692,أقل من 7 سنوات,7
1,المنطقة الشرقيـــة,317868,78572809,165554795,-86981986,1236,3692,أكثر من 60 سنة,8
2,المنطقة الشرقيـــة,317868,78572809,165554795,-86981986,1236,3692,من 19 - 35 سنة,10
3,المنطقة الشرقيـــة,317868,78572809,165554795,-86981986,1236,3692,من 36 - 60 سنة,9
4,المنطقة الشرقيـــة,317868,78572809,165554795,-86981986,1236,3692,من 7 - 18 سنة,8
...,...,...,...,...,...,...,...,...,...
60,منطقة نجـــران,42615,9216685,26950470,-17733785,105,0,أقل من 7 سنوات,1
61,منطقة نجـــران,42615,9216685,26950470,-17733785,105,0,أكثر من 60 سنة,1
62,منطقة نجـــران,42615,9216685,26950470,-17733785,105,0,من 19 - 35 سنة,1
63,منطقة نجـــران,42615,9216685,26950470,-17733785,105,0,من 36 - 60 سنة,1
64,منطقة نجـــران,42615,9216685,26950470,-17733785,105,0,من 7 - 18 سنة,1

In [378]:
scrapped_data.columns

Index(['region', 'index', 'income', 'outcome', 'balance', 'employees',
       'volunteers', 'age', 'count_age'],
      dtype='object')

In [379]:
scrapped_data=scrapped_data[['region', 'income', 'outcome', 'balance', 'employees',
       'volunteers', 'age', 'count_age']]
scrapped_data

,region,income,outcome,balance,employees,volunteers,age,count_age
0,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أقل من 7 سنوات,7
1,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أكثر من 60 سنة,8
2,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 19 - 35 سنة,10
3,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 36 - 60 سنة,9
4,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 7 - 18 سنة,8
...,...,...,...,...,...,...,...,...
60,منطقة نجـــران,9216685,26950470,-17733785,105,0,أقل من 7 سنوات,1
61,منطقة نجـــران,9216685,26950470,-17733785,105,0,أكثر من 60 سنة,1
62,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 19 - 35 سنة,1
63,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 36 - 60 سنة,1
64,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 7 - 18 سنة,1

In [380]:
disabled=pd.read_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\disabled.xlsx')

In [381]:
set(disabled['نوع الإعاقة'])

{'محتضنين', 'معاقين'}

In [382]:
disabled=disabled[(disabled['نوع الإعاقة']=='معاقين')]

In [383]:
disabled

,عدد المستفيدين,نوع الإعاقة,فئة الإعاقة,المنطقة
4,12268,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة مكة المكرمـة
5,1744,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة تبـــوك
6,51256,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة مكة المكرمـة
7,44822,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة الريـــاض
8,1409,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة القصيـــم
9,1167,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة الباحــة
14,15309,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة الريـــاض
15,8501,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة نجـــران
16,8260,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة تبـــوك
21,10549,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),المنطقة الشرقيـــة
22,4635,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة المدينة المنورة
23,2865,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة القصيـــم
24,9619,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة حائــــل
25,698,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة حائــــل
26,678,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة الجـــوف
31,46295,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),المنطقة الشرقيـــة
32,33528,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة عسيــر
33,13816,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة المدينة المنورة
34,22857,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة جــازان
35,6629,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة الجـــوف
36,6855,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة مكة المكرمـة
37,390,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة الحدود الشمالية
40,9205,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة القصيـــم
41,4197,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة الحدود الشمالية
42,1910,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة حائــــل
48,1243,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة نجـــران
49,815,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة الحدود الشمالية
50,3623,معاقين,إعانة لغير شديدي الإعاقة فئة (أ)(24أ),منطقة الباحــة
51,3585,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة عسيــر
52,575,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة الباحــة
53,1222,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة تبـــوك
54,5676,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة عسيــر
55,6917,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة الريـــاض
59,3267,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة جــازان
60,1323,معاقين,إعانة لشديدي الإعاقة فئة (ب)(23ب),منطقة الجـــوف
61,4290,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),المنطقة الشرقيـــة
62,837,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة نجـــران
63,2369,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة المدينة المنورة
64,2240,معاقين,إعانة لشديدي الإعاقة فئة (أ)(23أ),منطقة جــازان

In [384]:
disabled=disabled.groupby('المنطقة').sum().reset_index()
disabled['region']=disabled['المنطقة']
disabled['num_of_beneficiaries']=disabled['عدد المستفيدين']
disabled=disabled[['region','num_of_beneficiaries']]
disabled

                   region  num_of_beneficiaries
0      المنطقة الشرقيـــة                 61134
1          منطقة الباحــة                  5365
2          منطقة الجـــوف                  8630
3   منطقة الحدود الشمالية                  5402
4         منطقة الريـــاض                 67048
5         منطقة القصيـــم                 13479
6   منطقة المدينة المنورة                 20820
7           منطقة تبـــوك                 11226
8           منطقة جــازان                 28364
9          منطقة حائــــل                 12227
10           منطقة عسيــر                 42789
11     منطقة مكة المكرمـة                 70379
12         منطقة نجـــران                 10581

In [385]:
pop=pd.read_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\pop.xlsx')

In [386]:
pop

                   region      pop
0         منطقة الريـــاض  6777146
1      منطقة مكة المكرمـة  6915006
2   منطقة المدينة المنورة  1777933
3         منطقة القصيـــم  1215858
4      المنطقة الشرقيـــة  4105780
5            منطقة عسيــر  1913392
6           منطقة تبـــوك   791535
7          منطقة حائــــل   597144
8   منطقة الحدود الشمالية   320524
9           منطقة جــازان  1365110
10         منطقة نجـــران   505652
11         منطقة الباحــة   411888
12         منطقة الجـــوف   440009

In [387]:
scrapped_data

,region,income,outcome,balance,employees,volunteers,age,count_age
0,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أقل من 7 سنوات,7
1,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أكثر من 60 سنة,8
2,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 19 - 35 سنة,10
3,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 36 - 60 سنة,9
4,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 7 - 18 سنة,8
...,...,...,...,...,...,...,...,...
60,منطقة نجـــران,9216685,26950470,-17733785,105,0,أقل من 7 سنوات,1
61,منطقة نجـــران,9216685,26950470,-17733785,105,0,أكثر من 60 سنة,1
62,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 19 - 35 سنة,1
63,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 36 - 60 سنة,1
64,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 7 - 18 سنة,1

In [398]:
#scrapped_data=scrapped_data[(scrapped_data['Segments']=='ذوي الإعاقة')]
dash_data=pd.merge(scrapped_data,disabled, on=['region'])
dash_data

,region,income,outcome,balance,employees,volunteers,age,count_age,num_of_beneficiaries
0,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أقل من 7 سنوات,7,61134
1,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أكثر من 60 سنة,8,61134
2,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 19 - 35 سنة,10,61134
3,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 36 - 60 سنة,9,61134
4,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 7 - 18 سنة,8,61134
...,...,...,...,...,...,...,...,...,...
60,منطقة نجـــران,9216685,26950470,-17733785,105,0,أقل من 7 سنوات,1,10581
61,منطقة نجـــران,9216685,26950470,-17733785,105,0,أكثر من 60 سنة,1,10581
62,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 19 - 35 سنة,1,10581
63,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 36 - 60 سنة,1,10581
64,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 7 - 18 سنة,1,10581

In [399]:
dash_data

,region,income,outcome,balance,employees,volunteers,age,count_age,num_of_beneficiaries
0,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أقل من 7 سنوات,7,61134
1,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,أكثر من 60 سنة,8,61134
2,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 19 - 35 سنة,10,61134
3,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 36 - 60 سنة,9,61134
4,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,من 7 - 18 سنة,8,61134
...,...,...,...,...,...,...,...,...,...
60,منطقة نجـــران,9216685,26950470,-17733785,105,0,أقل من 7 سنوات,1,10581
61,منطقة نجـــران,9216685,26950470,-17733785,105,0,أكثر من 60 سنة,1,10581
62,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 19 - 35 سنة,1,10581
63,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 36 - 60 سنة,1,10581
64,منطقة نجـــران,9216685,26950470,-17733785,105,0,من 7 - 18 سنة,1,10581

In [400]:
dash_data=pd.merge(pop, dash_data, on=["region"])
dash_data

,region,pop,income,outcome,balance,employees,volunteers,age,count_age,num_of_beneficiaries
0,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,أقل من 7 سنوات,16,67048
1,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,أكثر من 60 سنة,24,67048
2,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,من 19 - 35 سنة,24,67048
3,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,من 36 - 60 سنة,24,67048
4,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,من 7 - 18 سنة,18,67048
...,...,...,...,...,...,...,...,...,...,...
60,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,أقل من 7 سنوات,4,8630
61,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,أكثر من 60 سنة,6,8630
62,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,من 19 - 35 سنة,6,8630
63,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,من 36 - 60 سنة,6,8630
64,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,من 7 - 18 سنة,6,8630

In [401]:
#عدد المستفيدين مقارنة بتعداد سكان المنطقة
dash_data['benf_prop']=round(dash_data['num_of_beneficiaries']/dash_data['pop']*100,2)

In [402]:
dash_data.columns

Index(['region', 'pop', 'income', 'outcome', 'balance', 'employees',
       'volunteers', 'age', 'count_age', 'num_of_beneficiaries', 'benf_prop'],
      dtype='object')

In [403]:
dash_data

,region,pop,income,outcome,balance,employees,volunteers,age,count_age,num_of_beneficiaries,benf_prop
0,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,أقل من 7 سنوات,16,67048,0.99
1,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,أكثر من 60 سنة,24,67048,0.99
2,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,من 19 - 35 سنة,24,67048,0.99
3,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,من 36 - 60 سنة,24,67048,0.99
4,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,من 7 - 18 سنة,18,67048,0.99
...,...,...,...,...,...,...,...,...,...,...,...
60,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,أقل من 7 سنوات,4,8630,1.96
61,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,أكثر من 60 سنة,6,8630,1.96
62,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,من 19 - 35 سنة,6,8630,1.96
63,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,من 36 - 60 سنة,6,8630,1.96
64,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,من 7 - 18 سنة,6,8630,1.96

In [404]:
dash_data.columns

Index(['region', 'pop', 'income', 'outcome', 'balance', 'employees',
       'volunteers', 'age', 'count_age', 'num_of_beneficiaries', 'benf_prop'],
      dtype='object')

In [405]:
dash_data=pd.pivot_table(dash_data, values='count_age', index=['region', 'pop', 'income', 'outcome', 'balance', 'employees',
       'volunteers','num_of_beneficiaries', 'benf_prop'],
                    columns=['age']).reset_index()
dash_data

age,region,pop,income,outcome,balance,employees,volunteers,num_of_beneficiaries,benf_prop,أقل من 7 سنوات,أكثر من 60 سنة,من 19 - 35 سنة,من 36 - 60 سنة,من 7 - 18 سنة
0,المنطقة الشرقيـــة,4105780,78572809,165554795,-86981986,1236,3692,61134,1.49,7,8,10,9,8
1,منطقة الباحــة,411888,93371064,61463877,31907187,240,710,5365,1.30,7,8,7,7,8
2,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,8630,1.96,4,6,6,6,6
3,منطقة الحدود الشمالية,320524,35507013,36619294,-1112281,156,359,5402,1.69,1,4,4,4,4
4,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,67048,0.99,16,24,24,24,18
5,منطقة القصيـــم,1215858,24662285,134973710,-110311425,810,230,13479,1.11,16,16,16,16,16
6,منطقة المدينة المنورة,1777933,13826083,86366565,-72540482,320,522,20820,1.17,11,21,17,21,16
7,منطقة تبـــوك,791535,7918337,101261494,-93343157,485,234,11226,1.42,12,16,16,16,15
8,منطقة جــازان,1365110,66013704,82106676,-16092972,237,2760,28364,2.08,4,7,5,7,4
9,منطقة حائــــل,597144,18877794,80922047,-62044253,750,524,12227,2.05,13,21,18,22,15
10,منطقة عسيــر,1913392,298880354,317785321,-18904967,919,1740,42789,2.24,26,34,36,36,33
11,منطقة مكة المكرمـة,6915006,583808222,547259074,36549148,1605,1811,70379,1.02,35,43,39,45,36
12,منطقة نجـــران,505652,9216685,26950470,-17733785,105,0,10581,2.09,1,1,1,1,1

In [434]:
#dash_data.to_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\dash_data2.xlsx', index = False)

In [442]:
dash_data4=pd.read_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\dash_data2.xlsx')
dash_data4

,region,pop,income,outcome,balance,employees,volunteers,num_of_beneficiaries,benf_prop,أقل من 7 سنوات,أكثر من 60 سنة,من 19 - 35 سنة,من 36 - 60 سنة,من 7 - 18 سنة
0,المنطقة الشرقيـــة,4105780,78572809,165554795,-86981986,1236,3692,61134,1.49,7,8,10,9,8
1,منطقة الباحــة,411888,93371064,61463877,31907187,240,710,5365,1.30,7,8,7,7,8
2,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,8630,1.96,4,6,6,6,6
3,منطقة الحدود الشمالية,320524,35507013,36619294,-1112281,156,359,5402,1.69,1,4,4,4,4
4,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,67048,0.99,16,24,24,24,18
5,منطقة القصيـــم,1215858,24662285,134973710,-110311425,810,230,13479,1.11,16,16,16,16,16
6,منطقة المدينة المنورة,1777933,13826083,86366565,-72540482,320,522,20820,1.17,11,21,17,21,16
7,منطقة تبـــوك,791535,7918337,101261494,-93343157,485,234,11226,1.42,12,16,16,16,15
8,منطقة جــازان,1365110,66013704,82106676,-16092972,237,2760,28364,2.08,4,7,5,7,4
9,منطقة حائــــل,597144,18877794,80922047,-62044253,750,524,12227,2.05,13,21,18,22,15
10,منطقة عسيــر,1913392,298880354,317785321,-18904967,919,1740,42789,2.24,26,34,36,36,33
11,منطقة مكة المكرمـة,6915006,583808222,547259074,36549148,1605,1811,70379,1.02,35,43,39,45,36
12,منطقة نجـــران,505652,9216685,26950470,-17733785,105,0,10581,2.09,1,1,1,1,1

In [445]:
dash_data4['less_7']=dash_data4['أقل من 7 سنوات']
dash_data4['more_than_60']=dash_data4['أكثر من 60 سنة']
dash_data4['from_19_35']=dash_data4['من 19 - 35 سنة']
dash_data4['from_36_60']=dash_data4['من 36 - 60 سنة']
dash_data4['from_7_18']=dash_data4['من 7 - 18 سنة']
dash_data4['total_num_of_institution']=dash_data4['less_7']+dash_data4['more_than_60']+dash_data4['from_19_35']+dash_data4['from_36_60']+dash_data4['from_7_18']

In [447]:
dash_data4['less_7']=round((dash_data4['less_7']/dash_data4['total_num_of_institution'])*100,2)
dash_data4['more_than_60']=round((dash_data4['more_than_60']/dash_data4['total_num_of_institution'])*100,2)
dash_data4['from_19_35']=round((dash_data4['from_19_35']/dash_data4['total_num_of_institution'])*100,2)
dash_data4['from_36_60']=round((dash_data4['from_36_60']/dash_data4['total_num_of_institution'])*100,2)
dash_data4['from_7_18']=round((dash_data4['from_7_18']/dash_data4['total_num_of_institution'])*100,2)

In [448]:
dash_data4

,region,pop,income,outcome,balance,employees,volunteers,num_of_beneficiaries,benf_prop,أقل من 7 سنوات,أكثر من 60 سنة,من 19 - 35 سنة,من 36 - 60 سنة,من 7 - 18 سنة,less_7,more_than_60,from_19_35,from_36_60,from_7_18,total_num_of_institution
0,المنطقة الشرقيـــة,4105780,78572809,165554795,-86981986,1236,3692,61134,1.49,7,8,10,9,8,16.67,19.05,23.81,21.43,19.05,42
1,منطقة الباحــة,411888,93371064,61463877,31907187,240,710,5365,1.30,7,8,7,7,8,18.92,21.62,18.92,18.92,21.62,37
2,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,8630,1.96,4,6,6,6,6,14.29,21.43,21.43,21.43,21.43,28
3,منطقة الحدود الشمالية,320524,35507013,36619294,-1112281,156,359,5402,1.69,1,4,4,4,4,5.88,23.53,23.53,23.53,23.53,17
4,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,67048,0.99,16,24,24,24,18,15.09,22.64,22.64,22.64,16.98,106
5,منطقة القصيـــم,1215858,24662285,134973710,-110311425,810,230,13479,1.11,16,16,16,16,16,20.00,20.00,20.00,20.00,20.00,80
6,منطقة المدينة المنورة,1777933,13826083,86366565,-72540482,320,522,20820,1.17,11,21,17,21,16,12.79,24.42,19.77,24.42,18.60,86
7,منطقة تبـــوك,791535,7918337,101261494,-93343157,485,234,11226,1.42,12,16,16,16,15,16.00,21.33,21.33,21.33,20.00,75
8,منطقة جــازان,1365110,66013704,82106676,-16092972,237,2760,28364,2.08,4,7,5,7,4,14.81,25.93,18.52,25.93,14.81,27
9,منطقة حائــــل,597144,18877794,80922047,-62044253,750,524,12227,2.05,13,21,18,22,15,14.61,23.60,20.22,24.72,16.85,89
10,منطقة عسيــر,1913392,298880354,317785321,-18904967,919,1740,42789,2.24,26,34,36,36,33,15.76,20.61,21.82,21.82,20.00,165
11,منطقة مكة المكرمـة,6915006,583808222,547259074,36549148,1605,1811,70379,1.02,35,43,39,45,36,17.68,21.72,19.70,22.73,18.18,198
12,منطقة نجـــران,505652,9216685,26950470,-17733785,105,0,10581,2.09,1,1,1,1,1,20.00,20.00,20.00,20.00,20.00,5

In [449]:
dash_data4.columns

Index(['region', 'pop', 'income', 'outcome', 'balance', 'employees',
       'volunteers', 'num_of_beneficiaries', 'benf_prop', 'أقل من 7 سنوات',
       'أكثر من 60 سنة', 'من 19 - 35 سنة', 'من 36 - 60 سنة', 'من 7 - 18 سنة',
       'less_7', 'more_than_60', 'from_19_35', 'from_36_60', 'from_7_18',
       'total_num_of_institution'],
      dtype='object')

In [454]:
dash_data4['beneficiaries_to_institution']=round(dash_data4['num_of_beneficiaries']/dash_data4['total_num_of_institution'])

In [455]:
dash_data4

,region,pop,income,outcome,balance,employees,volunteers,num_of_beneficiaries,benf_prop,أقل من 7 سنوات,...,من 19 - 35 سنة,من 36 - 60 سنة,من 7 - 18 سنة,less_7,more_than_60,from_19_35,from_36_60,from_7_18,total_num_of_institution,beneficiaries_to_institution
0,المنطقة الشرقيـــة,4105780,78572809,165554795,-86981986,1236,3692,61134,1.49,7,...,10,9,8,16.67,19.05,23.81,21.43,19.05,42,1456.0
1,منطقة الباحــة,411888,93371064,61463877,31907187,240,710,5365,1.30,7,...,7,7,8,18.92,21.62,18.92,18.92,21.62,37,145.0
2,منطقة الجـــوف,440009,68996336,66067366,2928970,161,124,8630,1.96,4,...,6,6,6,14.29,21.43,21.43,21.43,21.43,28,308.0
3,منطقة الحدود الشمالية,320524,35507013,36619294,-1112281,156,359,5402,1.69,1,...,4,4,4,5.88,23.53,23.53,23.53,23.53,17,318.0
4,منطقة الريـــاض,6777146,392040810,320070711,71970099,889,6094,67048,0.99,16,...,24,24,18,15.09,22.64,22.64,22.64,16.98,106,633.0
5,منطقة القصيـــم,1215858,24662285,134973710,-110311425,810,230,13479,1.11,16,...,16,16,16,20.00,20.00,20.00,20.00,20.00,80,168.0
6,منطقة المدينة المنورة,1777933,13826083,86366565,-72540482,320,522,20820,1.17,11,...,17,21,16,12.79,24.42,19.77,24.42,18.60,86,242.0
7,منطقة تبـــوك,791535,7918337,101261494,-93343157,485,234,11226,1.42,12,...,16,16,15,16.00,21.33,21.33,21.33,20.00,75,150.0
8,منطقة جــازان,1365110,66013704,82106676,-16092972,237,2760,28364,2.08,4,...,5,7,4,14.81,25.93,18.52,25.93,14.81,27,1051.0
9,منطقة حائــــل,597144,18877794,80922047,-62044253,750,524,12227,2.05,13,...,18,22,15,14.61,23.60,20.22,24.72,16.85,89,137.0
10,منطقة عسيــر,1913392,298880354,317785321,-18904967,919,1740,42789,2.24,26,...,36,36,33,15.76,20.61,21.82,21.82,20.00,165,259.0
11,منطقة مكة المكرمـة,6915006,583808222,547259074,36549148,1605,1811,70379,1.02,35,...,39,45,36,17.68,21.72,19.70,22.73,18.18,198,355.0
12,منطقة نجـــران,505652,9216685,26950470,-17733785,105,0,10581,2.09,1,...,1,1,1,20.00,20.00,20.00,20.00,20.00,5,2116.0

In [456]:
dash_data4=dash_data4[['region', 'income', 'outcome', 'balance', 'employees',
       'volunteers', 'num_of_beneficiaries','total_num_of_institution','beneficiaries_to_institution','less_7', 'more_than_60', 'from_19_35', 'from_36_60', 'from_7_18']]

In [460]:
dash_data4.columns

Index(['region', 'income', 'outcome', 'balance', 'employees', 'volunteers',
       'num_of_beneficiaries', 'total_num_of_institution',
       'beneficiaries_to_institution', 'less_7', 'more_than_60', 'from_19_35',
       'from_36_60', 'from_7_18'],
      dtype='object')

In [459]:
dash_data4.to_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\dash_data4.xlsx', index = False)

In [463]:
Dashbored_pi=pd.melt(dash_data4, id_vars=['region', 'income', 'outcome', 'balance', 'employees', 'volunteers',
       'num_of_beneficiaries', 'total_num_of_institution',
       'beneficiaries_to_institution'],
        value_vars=[ 'less_7', 'more_than_60', 'from_19_35','from_36_60', 'from_7_18'],
        var_name='seg', value_name='seg_values')

In [464]:
Dashbored_pi

,region,income,outcome,balance,employees,volunteers,num_of_beneficiaries,total_num_of_institution,beneficiaries_to_institution,seg,seg_values
0,المنطقة الشرقيـــة,78572809,165554795,-86981986,1236,3692,61134,42,1456.0,less_7,16.67
1,منطقة الباحــة,93371064,61463877,31907187,240,710,5365,37,145.0,less_7,18.92
2,منطقة الجـــوف,68996336,66067366,2928970,161,124,8630,28,308.0,less_7,14.29
3,منطقة الحدود الشمالية,35507013,36619294,-1112281,156,359,5402,17,318.0,less_7,5.88
4,منطقة الريـــاض,392040810,320070711,71970099,889,6094,67048,106,633.0,less_7,15.09
...,...,...,...,...,...,...,...,...,...,...,...
60,منطقة جــازان,66013704,82106676,-16092972,237,2760,28364,27,1051.0,from_7_18,14.81
61,منطقة حائــــل,18877794,80922047,-62044253,750,524,12227,89,137.0,from_7_18,16.85
62,منطقة عسيــر,298880354,317785321,-18904967,919,1740,42789,165,259.0,from_7_18,20.00
63,منطقة مكة المكرمـة,583808222,547259074,36549148,1605,1811,70379,198,355.0,from_7_18,18.18
64,منطقة نجـــران,9216685,26950470,-17733785,105,0,10581,5,2116.0,from_7_18,20.00

In [465]:
Dashbored_pi.to_excel(r'C:\Users\najla\Old_OneDrive_Stuff\Desktop\SocialThon\Data\Dashbored_pi.xlsx', index = False)